@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../assets/Typography/Lemon/Web-TT/Lemon-Black.css");
@import url("../assets/Typography/Lemon/Web-TT/Lemon-Bold.css");
@import url("../assets/Typography/Lemon/Web-TT/Lemon-BoldWide.css");
@import url("../assets/Typography/Lemon/Web-TT/Lemon-ExtraBold.css");
@import "tailwindcss";
@import "./shadcn/components/chart.css";
@import "./shadcn/variables.css";
@import "./components/navbar.css";
@import "./components/buttons.css";

@layer base {
  body {
    @apply font-sans m-0 p-10 bg-[#f9fffc] text-[hsl(var(--foreground))] leading-[1.5];
  }

  main {
    @apply mt-20;
  }

  ::selection {
    background: #7aed07e7;
    color: #beff7ce7;
  }

  #content {
    @apply max-w-[1200px] mx-auto;
    transition: opacity 0.2s;
    opacity: 1;
  }

  #content.fade-out {
    opacity: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }

  .lemon-font {
    font-family: "Lemon", "Montserrat", sans-serif;
    font-weight: 400;
  }

  .lemon-bold {
    font-family: "Lemon", "Montserrat", sans-serif;
    font-weight: 700;
  }

  .lemon-extrabold {
    font-family: "Lemon ExtraBold", "Lemon", "Montserrat", sans-serif;
    font-weight: 800;
  }

  .lemon-wide {
    font-family: "Lemon Wide", "Lemon", "Montserrat", sans-serif;
    font-weight: 700;
  }

  .lemon-font-alt {
    font-family: "Lemon", "Montserrat", sans-serif;
    font-feature-settings: "salt" 1;
  }
}

@layer components {
  .active {
    @apply underline;
  }

  #page-title {
    @apply text-5xl;
  }

  #page-tagline {
    @apply italic mb-6;
  }
}
