@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../src/assets/Typography/Lemon/Web-TT/Lemon-Black.css");
@import url("../src/assets/Typography/Lemon/Web-TT/Lemon-Bold.css");
@import url("../src/assets/Typography/Lemon/Web-TT/Lemon-BoldWide.css");
@import url("../src/assets/Typography/Lemon/Web-TT/Lemon-ExtraBold.css");
@import "tailwindcss";
@import "./utils/variables.css";
@import "./components/chart.css";
@import "./components/navbar.css";
@import "./components/buttons.css";
@import "./components/dialogue.css";
@import "./components/carousel.css";

@layer base {
  body {
    @apply m-0 p-10 bg-[var(--background)] text-[hsl(var(--foreground))] leading-normal;
  }

  main {
    @apply mt-30;
  }

  footer {
    @apply mt-20 text-center text-sm text-[hsl(var(--muted-foreground))];
  }

  ::selection {
    background: var(--selector-background);
    color: var(--selector-foreground);
  }

  #content {
    @apply max-w-[1200px] mx-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }

  .lemon-font {
    font-family: "Lemon", "Montserrat", sans-serif;
    font-weight: 400;
  }

  .lemon-bold {
    font-family: "Lemon", "Montserrat", sans-serif;
    font-weight: 700;
  }

  .lemon-extrabold {
    font-family: "Lemon ExtraBold", "Lemon", "Montserrat", sans-serif;
    font-weight: 800;
  }

  .lemon-wide {
    font-family: "Lemon Wide", "Lemon", "Montserrat", sans-serif;
    font-weight: 700;
  }

  .lemon-font-alt {
    font-family: "Lemon", "Montserrat", sans-serif;
    font-feature-settings: "salt" 1;
  }
}

@layer components {
  .active {
    @apply border-b-4 border-[var(--accent-strong)];
  }

  #page-title {
    @apply text-5xl;
  }

  #page-tagline {
    @apply italic mb-6;
  }

  .signup-link a {
    @apply text-[var(--accent-strong)];
  }

  .signup-link a:hover {
    @apply underline;
  }
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
