:root {
  --background: #f9fffc;
  --text-foreground: #0a1626;

  --navbar-background: #fafffccc;
  --navbar-border: #ffffff33;

  --accent: #f3f8fc;
  --accent-foreground: #0a1626;
  --accent-strong: #f25a2b;

  --bid-badge-bg: #f25a2b;
  --bid-badge-text: #ffeae3;

  --selector-background: #7aed07e7;
  --selector-foreground: #beff7ce7;
}

.dark {
  --background: #0a1a2a;
  --text-foreground: #f4f4f4;

  --navbar-background: #0a1a2af8;
  --navbar-border: #0a1a2ae4;

  --accent: #f25a2b;
  --accent-strong: #90a900;

  --bid-badge-bg: #f25a2b;
  --bid-badge-text: #ffeae3;

  --selector-background: #90a900;
  --selector-foreground: #daf53f;
}
