/* Webfont: Lemon-Medium */
@font-face {
  font-family: "Lemon";
  src: url("Lemon-Medium.eot"); /* IE9 Compat Modes */
  src:
    url("Lemon-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Lemon-Medium.woff") format("woff"),
    /* Modern Browsers */ url("Lemon-Medium.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
