/* Webfont: Lemon-ExtraBold */
@font-face {
  font-family: "Lemon";
  src: url("Lemon-ExtraBold.eot"); /* IE9 Compat Modes */
  src:
    url("Lemon-ExtraBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Lemon-ExtraBold.woff") format("woff"),
    /* Modern Browsers */ url("Lemon-ExtraBold.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-ExtraBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
