/* Webfont: Lemon-Black */
@font-face {
  font-family: "Lemon";
  src: url("Lemon-Black.eot"); /* IE9 Compat Modes */
  src:
    url("Lemon-Black.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Lemon-Black.woff") format("woff"),
    /* Modern Browsers */ url("Lemon-Black.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-Black.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
