@layer components {
  .btn {
    @apply w-40 h-10 px-4 py-2 justify-center whitespace-nowrap rounded-sm text-sm font-medium transition-all duration-200 ease-in-out shadow-[2px_5px_0_0_black] cursor-pointer;
  }

  .btn:hover {
    @apply scale-95 brightness-105 shadow-none border-[hsl(var(--muted-foreground))];
  }

  .btn-primary {
    @apply bg-[var(--accent-strong)] text-white;
  }

  .btn-secondary {
    @apply mt-8 mb-12 px-4 py-2 border dark:border-none bg-[hsl(var(--accent))] dark:text-white rounded
    hover:bg-[hsl(var(--accent))]/60 transition cursor-pointer disabled:opacity-50;
  }

  .btn-danger {
    @apply bg-red-600 hover:bg-red-700 hover:brightness-90 text-white;
  }

  .close-btn {
    @apply text-[var(--accent-strong)] hover:text-red-800 text-3xl font-bold mb-4 cursor-pointer justify-self-end;
  }
}
