@layer components {
  #navbar {
    @apply fixed flex flex-wrap justify-between items-center w-full top-0 left-0 z-1000 bg-[var(--navbar-background)] backdrop-blur border-b border-b-[var(--navbar-border)];
  }

  #nav-logo-container {
    @apply flex items-center;
  }

  body.route-landing #nav-logo-container {
    @apply opacity-0;
  }

  #nav-logo-img {
    @apply w-[50px] h-auto mx-auto md:ml-2;
  }

  #nav-logo {
    @apply text-4xl font-bold pl-10;
  }

  #nav-credits-wrapper {
    @apply flex flex-row items-center gap-2 justify-center mr-4 md:mr-10 md:justify-end text-[var(--accent-strong)];
  }

  #navbar ul {
    @apply flex flex-wrap gap-5 p-5 mr-10 list-none text-lg justify-self-end;
  }

  #navbar ul li {
    @apply transition duration-400 text-[var(--text-foreground)];
  }

  #navbar ul li:hover {
    @apply cursor-pointer text-[var(--accent-strong)] border-b-2 border-[var(--accent-strong)];
  }

  #navbar ul li.active {
    @apply text-[var(--accent-strong)] border-b-2 border-[var(--accent-strong)] no-underline;
  }

  @media (max-width: 450px) {
    #navbar {
      @apply justify-center items-center pt-5;
    }

    #navbar ul {
      @apply p-5 mr-0;
    }
  }
}
