/* Webfont: Lemon-ThinWide */
@font-face {
  font-family: "LemonWide";
  src: url("Lemon-ThinWide.eot"); /* IE9 Compat Modes */
  src:
    url("Lemon-ThinWide.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Lemon-ThinWide.woff") format("woff"),
    /* Modern Browsers */ url("Lemon-ThinWide.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-ThinWide.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
