/* Webfont: Lemon-BoldWide */
@font-face {
  font-family: "Lemonwide";
  src: url("Lemon-BoldWide.eot"); /* IE9 Compat Modes */
  src:
    url("Lemon-BoldWide.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Lemon-BoldWide.woff") format("woff"),
    /* Modern Browsers */ url("Lemon-BoldWide.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-BoldWide.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
