/* Webfont: Lemon-Bold */
@font-face {
  font-family: "Lemon";
  src: url("Lemon-Bold.eot"); /* IE9 Compat Modes */
  src:
    url("Lemon-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Lemon-Bold.woff") format("woff"),
    /* Modern Browsers */ url("Lemon-Bold.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
