/* Webfont: Lemon-MediumWide */
@font-face {
  font-family: "LemonWide";
  src: url("Lemon-MediumWide.eot"); /* IE9 Compat Modes */
  src:
    url("Lemon-MediumWide.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Lemon-MediumWide.woff") format("woff"),
    /* Modern Browsers */ url("Lemon-MediumWide.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-MediumWide.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
