/* Webfont: Lemon-Bold */
@font-face {
  font-family: "Lemon";
  src:
    url("Lemon-Bold.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-Bold.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
