/* Webfont: Lemon-BoldWide */
@font-face {
  font-family: "Lemonwide";
  src:
    url("Lemon-BoldWide.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-BoldWide.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
