/* Webfont: Lemon-Black */
@font-face {
  font-family: "Lemon";
  src:
    url("Lemon-Black.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-Black.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
