/* Webfont: Lemon-ExtraLightWide */
@font-face {
  font-family: "LemonWide";
  src:
    url("Lemon-ExtraLightWide.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-ExtraLightWide.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
