/* Webfont: Lemon-SemiBold */
@font-face {
  font-family: "Lemon";
  src:
    url("Lemon-SemiBold.woff2") format("woff2"),
    /* Modern Browsers */ url("Lemon-SemiBold.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
