name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npx prettier --check .
      - run: npx eslint .
      - run: npm run build
        env:
          VITE_NOROFF_API_KEY: ${{ secrets.VITE_NOROFF_API_KEY }}
      - run: npx vitest run
      - run: npx playwright install --with-deps
      - run: npx playwright test
        env:
          VITE_NOROFF_API_KEY: ${{ secrets.VITE_NOROFF_API_KEY }}

      - name: Configure user for deploying
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Deploy to GitHub Pages
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx gh-pages -d dist -r https://x-access-token:$GITHUB_TOKEN@github.com/telecasteren/bits-auctions.git
